@charset "utf-8";
/* CSS Document */


/*================================ Acrodian Menu----------------------*/
@import url(http://fonts.googleapis.com/css?family=Roboto);

body { font: 0.8em 'Roboto', sans-serif; }
	.pageContent { width: auto; }
	.accordion { list-style-type: none; padding: 0; margin: 0 0 30px; border: 1px solid #dedede; border-top: none; border-left: none; }
	.accordion ul { padding: 0; margin: 0; float: left; display: block; width: 100%; border-bottom:4px solid #69e969; }
	.accordion li { background: #008000; cursor: pointer; list-style-type: none; padding: 0; margin: 0; float: left; display: block; width: 100%;}
	.accordion li.active>a { background: url(../js/close.gif) no-repeat center right; }
	.accordion li div { padding: 3px; margin-left:5px; background:#cbdccb;  display: block; clear: both; float: left; width: 93%; margin-top:3px;}
	.accordion a { text-decoration: none; border-bottom: 1px solid #fff; font: bold 1.1em/3em 'Roboto', sans-serif;; color: #222; padding: 0 10px; display: block; cursor: pointer; background:url(../js/open.gif) no-repeat center right;}
	
	/* Level 2 */
	.accordion li ul li { background: #8dc98d; font-size: 0.9em; }


.child_heading{
		background:#000;}