@charset "utf-8";
/* CSS Document */

	*{
		margin:0;
		padding:0;	
	}
	.clear{
		clear:left;	
	}
	body{
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;
		color:#181818;	
	}
	div#wrapper{
		margin:auto;
		width:100%;
		background:#f7f7f7;
		height:auto;
	}
	div#header{
		width:100%;
		height:auto;
		float:left;	
	}
	div#navigator{
		float:left;
		width:1000px;
		height:30px;
		font-size:1.6em;
		background:#FF6600;	
	}
		div#navigator ul{
			list-style:none;
			display:block;
			float:left;
			width:100%;
			height:30px;
		}
		div#navigator ul li{
			display:inline;
			float:left;	
		}		
		div#navigator ul li a{
			text-decoration:none;
			color:#FFFFFF;
			padding:5px 15px 5px 15px;
			text-align:center;
			text-shadow:#CCC 2px 2px 2px;				
		}
	div#main{
		float:left;
		width:100%;
		height:auto;	
	}
	div#content_title{
		float:left;
		width:1000px;
		height:30px;
		font-size:1.6em;	
	}
	div#content_title h2{
		font-weight:bold;
		text-shadow:#CCC 2px 2px 2px;
		font-size:1.4em;
	}
	div#main_content{
		float:left;
		width:1000px;
		height:auto;	
	}
	div#main_content blockquote#wrapper{
		padding:10px;
		border:#EBEBEB 1px solid;	
		font-size:1.4em;
	}
	#footer{
		height:30px;	
	}
	#footer p{
		text-align:center;	
		height:auto;
		width:auto;
	}
	tr{
		background:#d8d5d5;
		height: 34px;
	}
	th{
		font-size:14px;
		font-weight:bold;
		padding:5px;
		border-bottom:1px solid #dedede;	
		color:#845a8d;
		border-radius:3px;
	}
	td{
		font-weight:normal;
		font-size:14px;
		padding:5px;
		text-align:center;
		border-bottom: 1px solid #ededed;
		border-left: #ededed 1px solid;		
	}
.name{
	text-align:left;}

.border{
	border-bottom:1px solid green;}
	
	th a{
		text-decoration:none;
		font-weight:bold;
		color:#845a8d;
	}	
	td a{
		text-decoration:none;
		font-weight:bold;
		color:#66F;
	}
	form{
		margin:10px;	
		font-size:1.275em;
	}
	fieldset{
		padding:10px;
		border:green 1px solid;
		border-radius:4px;	
	}
	legend{
		padding:3px;
		background:dedede;
		color:#000;
		border-radius:4px;
		font-size:16px;
		font-weight:bold;
	}
	.form_item{
		margin:5px;
		border:#e9e9e9 1px solid;
		padding:5px;	
	}
	.form_label{
		font-weight:bold;
		font-size:0.9em;
		color:#333;
		overflow:hidden;
		margin-bottom:3px;
	}
.form_field{}
	
	.form_strong
	{
		font-size:1.2em;
		color:#333;
	}
.form_field input,textarea,select{
	border-radius:5px;
	padding:0.5%;
	border:none;
	box-shadow:1px 1px 1px 1px #dedede;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form_field input:required:focus {
  border: 1px solid red;
  outline: none;
   -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form_field input[type="text"]:valid {
    border:1px solid green;
	 box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	 -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form_field input[type="text"]:invalid {
   
	 box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	 -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}



.form_field textarea:focus {
  border: 1px solid red;
  outline: none;
   -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form_field textarea:valid {
    border:1px solid green;
	 box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	 -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form_field textarea:invalid {
   
	 box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	 -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
	
	
.form_field select{
	border-radius:5px;
	padding:0.5%;
	border:none;
	box-shadow:1px 1px 1px 1px #dedede;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  display: block;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;;}
	
.email{
	color:green; font-weight:bold;float:left; font-size:12px; line-height:20px; color:#fff;}
	
.login{
	float:left; margin-right:5px; font-weight:bold; line-height:20px; color:#fff; text-indent:20px; }
	
.visitsite{
	float:left;
	text-decoration:none; line-height:20px;
	color:#fff;}
.login:hover{
	text-decoration:none;}
	
.record{
	margin:4px;
	border-bottom:1px solid green;
	border-top:1px solid green;
	text-indent:10px;
	border-radius:4px;}
	
.message{
	height:auto;
	width:99%;
	border-radius:5px;
	background:#d3e9c6;
	margin:0 auto;}
.message h5{
	color:green;
	font-family:sans-serif;
	text-indent:20px;
	font-size:16px;
	letter-spacing:2px;
	line-height:30px;}
	
.error_message{
	height:auto;
	width:95%;
	margin-left:10px;
	background:#ffc0cb;
	margin-top:5px;
	margin-bottom:5px;
	border-radius:5px;}
.error_message strong{
	padding:10px;
	line-height:23px;
	}
	
.edit_right{
		float:right;}